@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orelega+One&family=Source+Serif+Pro:wght@300&display=swap');

@media (min-width: 0px) and (max-width: 480px) {
    body {
        background-image: url(media/seamless_bg.png);
        margin: 0%;
    }
    
    
    h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 2vw;
    }
    
    h2 {
        font-family: 'Source Serif Pro', serif;
        font-size: 1.5vw;
    }
    
    p , li{
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        font-size: 1vw;
        list-style: none;
    }
    nav {
        position: fixed, absolute;
        background-color: rgb(20, 20, 20);
        height: auto;
        width: 100%;
        padding: 0.4em;
        
        
    }
    
    nav > a {
        height: auto;
        width: auto;
        display: inline-block;
        text-decoration: none;
        font-family: 'Orelega One', cursive;
        font-size: 1vw;
        margin: 0.2em 2em;
        text-align: center;
        color: white
    }
    
    nav > a:hover {
        color: rgba(255, 255, 255, 0.418);
    }
    
    section {
        
        z-index: -1;
        margin: 5% 5% 5% 5%;
        padding: 1.5em 1.5em;
        background-color: rgba(255, 255, 255, 0.822);
        border-radius: 1em;
    }
    
    
    section h1, p, li {
        margin: 0em;
        padding: 0;
        text-indent: 2em;
    }
    
    section img {
        width: 50%;
        height: 50%;
        border: 1px solid black;
        border-radius: 50%;
        float: right;
        margin: 2%;
    }
    
    #video {
        width: 560px;
        margin: 5% auto;
    }
}
body {
    background-image: url(media/seamless_bg.png);
    margin: 0%;
}


h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2.5em;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2.0em;
}

p , li{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1.5em;
    list-style: none;
}
nav {
    position: fixed, absolute;
    background-color: rgb(20, 20, 20);
    height: auto;
    width: 100%;
    padding: 0.4em;
    
    
}

nav > a {
    height: auto;
    width: auto;
    display: inline-block;
    text-decoration: none;
    font-family: 'Orelega One', cursive;
    font-size: 1.2em;
    margin: 0.2em 2em;
    text-align: center;
    color: white
}

nav > a:hover {
    color: rgba(255, 255, 255, 0.418);
}

section {
    
    z-index: -1;
    margin: 5% 5% 5% 5%;
    padding: 1.5em 1.5em;
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 1em;
}


section h1, p, li {
    margin: 0em;
    padding: 0;
    text-indent: 1em;
}

section img {
    border: 1px solid black;
    border-radius: 50%;
    float: right;
    margin: 2%;
}

#video {
    width: 560px;
    margin: 5% auto;
}


